#blog_style {
    margin-left: 20%;
    margin-right: 20%;
}
#about_link {
    border-bottom: 5px solid #154b25;
}

img {
    max-width: 100px;
}

.sector {
    background-color: #bdd2c3;
}


#outside {
    display: grid;
    grid-template-areas: ".    out1 out1   . "
                         "out3 .  .      out4"
                         "out3 out2 out2 out4"
                         "out5 out2 out2 out6"
                         "out5   .    .  out6";
}