/*top of page*/
#logos_links {
    display: flex; 
    justify-content: center; 
    gap: 2em;
}

#email_link {
    margin-top: 1%;
}
#linkedin {
    max-width: 50px;
}
/* highlighted nav to show page on bar */
#contact_link {
    border-bottom: 5px solid #154b25;
}
#mailto {
    text-decoration: none;
    color: #154b25;
}
/*end top of page, start of form*/
form {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    margin-left: 30%;
    margin-right: 30%;
    font-size: 20px;
}

#button {
    background-color: #154b25;
    color:#eae9e6;
}
#contact_info {
    margin-bottom: 10%;
    margin-top: 7%;
}
/*end of form*/
