.title {
    text-align: center;
    margin-top: 5%;
}
/* highlighted nav to show page on bar */
#experience_link {
    border-bottom: 5px solid #154b25;
}

.item {
    background-color: #bdd2c3;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
}

.description {
    color: #154b25;
}


.pdf_link {
    text-decoration: none;
    color: #154b25;
}

.job_description {
    text-align: left;
    line-height: 2;
    list-style-type: "~";
    font-size: 0.95em;
}

/* adjusting all page specific headers font size */
h3 {
    font-size: 1.5em;
}
h4 {
    font-size: 1.2em;
}
h5{
    font-size: 1em;
}

