#home_link {
    border-bottom: 5px solid  #154b25;
}
 #square {
    width: 100%;
    height: 0;
    padding-top: 100%;
    background-color: #154b25;
 }

 #center_photo {
    max-width: 500px;
 }

 #overlay_container {
   width: 150px;
   height: 150px;
   position: relative;
   margin: 30px;
 }

 #pond_photo {
   z-index: 9;
   margin: 30px;
 }